@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body{
        transition: .5s linear;
        scroll-behavior: smooth;
    }
}

.nav-toggle{
    @apply h-auto overflow-visible flex flex-col pb-4;
}
.nav-toggle .list-item{
    @apply p-0 leading-10
}

.nav-toggle .register{
    @apply px-4 py-2
}

.sticky-nav{
    position: fixed;
    background: #fff;
    width: 100%;
}

.list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 56px;
    padding: 16px;
}

.hyperlinks { 
    position: relative;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px 16px; */
}

.hyperlinks:hover::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(to bottom right, #121C84, #8278DA);
    margin-top: 24px;
    border-radius: 999px;
    animation: hoverLinks .8s linear 1
}

#header-body{
    height: calc(85vh - 72.5px);
}

.about-header{
    position: relative;
    z-index: -1;
}
.about-header::before{
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 2px;
    margin-left: 4.5em;
    margin-top: 4px;
    border-radius: 999px;
    background: #062F71;
}
.about-header::after{
    position: absolute;
    content: "";
    width: 3rem;
    height: 2px;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 999px;
    background: #062F71;
}

@keyframes hoverLinks{
    0% {width: 0%;}
    100% {width: 100%;}
}

